{% extends 'base.html' %}

{% block content %}
<!-- Main -->
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">
    <div id="main">
        <div class="inner">
            <header id="header">
                <div class="inner">
                    <a href="#jsModal"  type="button" class="logo jsModalTrigger" id="popup">
                        <span class="symbol"><img src="images/신짱구.PNG" alt=""/></span>
                        <span class="title" >Add my pet</span>
                    </a>
                </div>
            </header>
            <section class="tiles">
                {% for pet in pets %}
                <article class="style1">
                <span class="image" style="width:100%; height:413px;">
                    <img src="{{pet.image}}" alt="" style="width:100%"/>
                </span>
                    <a href="{% url 'yogithon:detail' pk=pet.id %}">
                        <h2>{{pet.title}}</h2>
                        <div class="content">
                            <p>{{pet.description}}</p>
                        </div>
                    </a>
                </article>
                {% endfor %}

            </section>
        </div>
    </div>
</div>

<div id="jsModal" class="modal">
  <div class="modal__overlay jsOverlay"></div>
  <div class="modal__container">
      <p style="color: #f2849e;">새로운 글 작성하기</p>
      <button class="modal__close jsModalClose" style="border:none; outline:none;">&#10005;</button>
      <form id="create-data" method="post" style="display:flex; ">
            {% csrf_token %}
            <div class="input-fields">
                {{ form.title }}
                {{ form.p_name }}
                {{ form.school }}
                {{ form.author }}
                {{ form.image }}
                {{ form.insta_url }}
            </div>
            <div class="msg">
                {{ form.description }}
                <button type="submit" class="btn" style="width:350px; padding:10px">작성하기</button>
            </div>
      </form>
  </div>
</div>

<script>
    /* This script supports IE9+ */
    (function() {
      /* Opening modal window function */
      function openModal() {
          /* Get trigger element */
          var modalTrigger = document.getElementsByClassName('jsModalTrigger');

          /* Set onclick event handler for all trigger elements */
          for(var i = 0; i < modalTrigger.length; i++) {
              modalTrigger[i].onclick = function() {
                var target = this.getAttribute('href').substr(1);
                var modalWindow = document.getElementById(target);

                modalWindow.classList ? modalWindow.classList.add('open') : modalWindow.className += ' ' + 'open';
              }
          }
      }

      function closeModal(){
        /* Get close button */
        var closeButton = document.getElementsByClassName('jsModalClose');
        var closeOverlay = document.getElementsByClassName('jsOverlay');

        /* Set onclick event handler for close buttons */
          for(var i = 0; i < closeButton.length; i++) {
            closeButton[i].onclick = function() {
              var modalWindow = this.parentNode.parentNode;

              modalWindow.classList ? modalWindow.classList.remove('open') : modalWindow.className = modalWindow.className.replace(new RegExp('(^|\\b)' + 'open'.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
            }
          }

        /* Set onclick event handler for modal overlay */
          for(var i = 0; i < closeOverlay.length; i++) {
            closeOverlay[i].onclick = function() {
              var modalWindow = this.parentNode;

              modalWindow.classList ? modalWindow.classList.remove('open') : modalWindow.className = modalWindow.className.replace(new RegExp('(^|\\b)' + 'open'.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
            }
          }

      }

      /* Handling domready event IE9+ */
      function ready(fn) {
        if (document.readyState != 'loading'){
          fn();
        } else {
          document.addEventListener('DOMContentLoaded', fn);
        }
      }

      /* Triggering modal window function after dom ready */
      ready(openModal);
      ready(closeModal);
    }());
</script>

</body>


{% endblock %}