{% extends 'base.html' %}

{% block content %}
<!-- Main -->
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">
    <div id="main">
        <div class="inner">
            <header id="header">
                <div class="inner">
                    <button class="logo" id="btn-modal" style="box-shadow:none;">
                        <span class="symbol"><img src="images/Images/신짱구.jpg" alt=""/></span>
                        <span class="title" >Add my pet</span>
                    </button>
                </div>
            </header>
            <section class="tiles">
                {% for pet in pets %}
                <article class="style1">
                <span class="image" style="width:100%; height:413px;">
                    <img src="{{pet.image.url}}" alt="" style="width:100%"/>
                </span>
                    <a href="{% url 'yogithon:detail' pk=pet.id %}">
                        <h2>{{pet.title}}</h2>
                        <div class="content">
                            <p>{{pet.description}}</p>
                        </div>
                    </a>
                </article>
                {% endfor %}

            </section>
        </div>
    </div>
</div>

<div id="modal" class="modal-overlay" style="z-index:21;
            width: 100%;
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.5);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
            border-radius: 10px;
            border: 1px solid rgba(225, 225, 225, 0.25);">
    <div class="modal-window">
        <div class="title">
            <h2>새로운 글 작성하기</h2>
        </div>
        <div class="close-area">X</div>
        <div class="content">
            <form id="create-data" method="post" style="display:flex;">
                {% csrf_token %}
                <div class="input-fields">
                    {{ form.title }}
                    {{ form.p_name }}
                    {{ form.school }}
                    {{ form.author }}
                    {{ form.image }}
                    {{ form.insta_url }}
                </div>
                <div class="msg">
                    {{ form.description }}
                    <button type="submit" class="btn" style="width:350px; padding:10px">작성하기</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    const modal = document.getElementById("modal")
    function modalOn() {
        modal.style.display = "flex"
    }
    function isModalOn() {
        return modal.style.display === "flex"
    }
    function modalOff() {
        modal.style.display = "none"
    }
    const btnModal = document.getElementById("btn-modal")
    btnModal.addEventListener("click", e => {
        modalOn()
    })
    const closeBtn = modal.querySelector(".close-area")
    closeBtn.addEventListener("click", e => {
        modalOff()
    })
    modal.addEventListener("click", e => {
        const evTarget = e.target
        if(evTarget.classList.contains("modal-overlay")) {
            modalOff()
        }
    })
    window.addEventListener("keyup", e => {
        if(isModalOn() && e.key === "Escape") {
            modalOff()
        }
    })
</script>

</body>


{% endblock %}