<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="MacbookAir" style="width: 1280px; height: 832px; position: relative; background: white">
        <div class="Group1" style="width: 1280px; height: 105px; left: 0px; top: 0px; position: absolute">
          <div class="Rectangle1" style="width: 1280px; height: 105px; left: 0px; top: 0px; position: absolute; background: #FFECB3"></div>
          <div style="left: 989px; top: 32px; position: absolute; color: #E65200; font-size: 36px; font-family: ChangwonDangamAsac; font-weight: 700; word-wrap: break-word">Petstagram</div>
          <div style="width: 143px; height: 28px; left: 68px; top: 35px; position: absolute; color: black; font-size: 24px; font-family: IBM Plex Sans KR; font-weight: 700; word-wrap: break-word">학교 게시판</div>
          <div style="width: 116px; height: 31px; left: 299px; top: 35px; position: absolute; color: black; font-size: 24px; font-family: IBM Plex Sans KR; font-weight: 700; word-wrap: break-word">마이페이지 </div>
        </div>
        <img class="Rectangle38" style="width: 281px; height: 121px; left: 650px; top: 583px; position: absolute" src="https://via.placeholder.com/281x121" />
        <div style="left: 52px; top: 133px; position: absolute; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">전체 순위</div>
        <div class="Group12" style="width: 243.50px; height: 389px; left: 527.50px; top: 148px; position: absolute">
          <div class="Rectangle31" style="width: 243px; height: 332px; left: 0.50px; top: 0px; position: absolute; background: #FFECB3"></div>
          <img class="Rectangle39" style="width: 243px; height: 176px; left: 243px; top: 213px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0" src="https://via.placeholder.com/243x176" />
          <div class="Rectangle40" style="width: 243px; height: 25px; left: 0.50px; top: 213px; position: absolute; background: white"></div>
          <img class="Ellipse1" style="width: 26px; height: 26px; left: 7.50px; top: 5px; position: absolute; border-radius: 9999px" src="https://via.placeholder.com/26x26" />
          <div class="GomyeongSavetheworld" style="width: 154px; height: 19px; left: 40.50px; top: 8px; position: absolute; color: #E65200; font-size: 11px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word"> gomyeong_savetheworld:)    </div>
          <div class="Rectangle41" style="width: 243px; height: 57px; left: 0.50px; top: 238px; position: absolute; background: #FF6B00"></div>
          <div style="width: 223px; height: 83px; left: 8.50px; top: 244px; position: absolute; color: white; font-size: 9px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word">오늘 아침 일어나자마자 코앞에 있었던 고명이... 뭐를 바라길래 저렇게 총명하게 바라보나 했더니 아침 시간을 훨씬 지났따.. 미안해 고명아..</div>
          <div class="Rectangle42" style="width: 243px; height: 94px; left: 0.50px; top: 295px; position: absolute; background: #FFC008"></div>
          <div style="width: 41px; height: 10px; left: 6.50px; top: 297px; position: absolute; color: white; font-size: 7px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word">댓글</div>
          <img class="Ellipse2" style="width: 13px; height: 13px; left: 14.50px; top: 314px; position: absolute; border-radius: 9999px" src="https://via.placeholder.com/13x13" />
          <div class="Rectangle43" style="width: 69px; height: 69px; left: 32.50px; top: 309px; position: absolute; background: white; border-radius: 10px"></div>
          <img class="Image6" style="width: 54px; height: 54px; left: 40.50px; top: 317px; position: absolute" src="https://via.placeholder.com/54x54" />
        </div>
        <div class="Group14" style="width: 113.30px; height: 181px; left: 1024px; top: 216px; position: absolute">
          <div class="Rectangle31" style="width: 113.07px; height: 154.48px; left: 0.24px; top: 0px; position: absolute; background: #FFECB3"></div>
          <img class="Rectangle39" style="width: 113.07px; height: 81.89px; left: 0px; top: 17.22px; position: absolute" src="https://via.placeholder.com/113x82" />
          <div class="Rectangle40" style="width: 113.07px; height: 11.63px; left: 0.24px; top: 99.11px; position: absolute; background: white"></div>
          <img class="Ellipse1" style="width: 12.10px; height: 12.10px; left: 3.49px; top: 2.33px; position: absolute; border-radius: 9999px" src="https://via.placeholder.com/12x12" />
          <div class="BetterThanHuman" style="width: 72px; height: 8px; left: 20px; top: 4px; position: absolute; color: #E65200; font-size: 5px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word">better_than_ human</div>
          <div class="Rectangle41" style="width: 113.07px; height: 26.52px; left: 0.24px; top: 110.74px; position: absolute; background: #FF6B00"></div>
          <div style="width: 103.76px; height: 38.62px; left: 3.96px; top: 113.53px; position: absolute; color: white; font-size: 6px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word">세상 사람들...이렇게 얌전한 강아지...백만번 보세요</div>
          <div class="Rectangle42" style="width: 113.07px; height: 43.74px; left: 0.24px; top: 137.26px; position: absolute; background: #FFC008"></div>
          <div style="width: 8px; height: 5px; left: 4px; top: 139px; position: absolute; color: white; font-size: 4px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word">댓글</div>
          <img class="Ellipse2" style="width: 6.05px; height: 6.05px; left: 6px; top: 150px; position: absolute; border-radius: 9999px" src="https://via.placeholder.com/6x6" />
          <div class="Rectangle43" style="width: 91px; height: 19px; left: 15px; top: 144px; position: absolute; background: white; border-radius: 5px"></div>
          <div style="left: 18px; top: 148px; position: absolute; color: black; font-size: 4px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word">후어어어어어어규ㅠㅠㅠㅠㅠ 너무 귀여워요 <br/>심장마비 걸릴듯듯</div>
        </div>
        <div class="Group18" style="width: 113.30px; height: 181px; left: 155px; top: 216px; position: absolute">
          <div class="Rectangle31" style="width: 113.07px; height: 154.48px; left: 0.24px; top: 0px; position: absolute; background: #FFECB3"></div>
          <img class="Rectangle39" style="width: 113.07px; height: 81.89px; left: 0px; top: 17.22px; position: absolute" src="https://via.placeholder.com/113x82" />
          <div class="Rectangle40" style="width: 113.07px; height: 11.63px; left: 0.24px; top: 99.11px; position: absolute; background: white"></div>
          <img class="Ellipse1" style="width: 12.10px; height: 12.10px; left: 15.59px; top: 2.33px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border-radius: 9999px" src="https://via.placeholder.com/12x12" />
          <div class="MyDogBogoGaseyo" style="width: 72px; height: 8px; left: 20px; top: 4px; position: absolute; color: #E65200; font-size: 5px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word">my_dog_bogo_gaseyo</div>
          <div class="Rectangle41" style="width: 113.07px; height: 26.52px; left: 0.24px; top: 110.74px; position: absolute; background: #FF6B00"></div>
          <div style="width: 103.76px; height: 38.62px; left: 3.96px; top: 113.53px; position: absolute; color: white; font-size: 5px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word">강아지가 털빨 아니라는 사람들...여기 보고<br/>가세요...우리...고명이 생각보다 털빨이었구나 </div>
          <div class="Rectangle42" style="width: 113.07px; height: 43.74px; left: 0.24px; top: 137.26px; position: absolute; background: #FFC008"></div>
          <div style="width: 8px; height: 5px; left: 4px; top: 139px; position: absolute; color: white; font-size: 4px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word">댓글</div>
          <img class="Ellipse2" style="width: 6.05px; height: 6.05px; left: 7px; top: 146px; position: absolute; border-radius: 9999px" src="https://via.placeholder.com/6x6" />
          <div class="Rectangle43" style="width: 24px; height: 31px; left: 15px; top: 144px; position: absolute; background: white; border-radius: 5px"></div>
        </div>
        <div class="Group15" style="width: 192px; height: 306.73px; left: 802px; top: 187px; position: absolute">
          <div class="Group13" style="width: 192px; height: 306.73px; left: 0px; top: 0px; position: absolute">
            <div class="Rectangle31" style="width: 191.61px; height: 261.78px; left: 0.39px; top: 0px; position: absolute; background: #FFECB3"></div>
            <img class="Rectangle39" style="width: 191.61px; height: 138.78px; left: 191.61px; top: 167.95px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0" src="https://via.placeholder.com/192x139" />
            <div class="Rectangle40" style="width: 191.61px; height: 19.71px; left: 0.39px; top: 167.95px; position: absolute; background: white"></div>
            <img class="Ellipse1" style="width: 20.50px; height: 20.50px; left: 5.91px; top: 3.94px; position: absolute; border-radius: 9999px" src="https://via.placeholder.com/21x21" />
            <div class="Cutyppozza" style="width: 121.43px; height: 14.98px; left: 31.93px; top: 6.31px; position: absolute; color: #E65200; font-size: 11px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word">cutyppozza._.</div>
            <div class="Rectangle41" style="width: 191.61px; height: 44.94px; left: 0.39px; top: 187.66px; position: absolute; background: #FF6B00"></div>
            <div style="width: 176px; height: 32px; left: 7px; top: 192px; position: absolute; color: white; font-size: 9px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word">고기 먹는데 옆에 와서 입맛 다시는....울깡지...<br/>한 점만 줄꺼야....</div>
            <div class="Rectangle42" style="width: 191.61px; height: 74.12px; left: 0.39px; top: 232.61px; position: absolute; background: #FFC008"></div>
            <div style="width: 32.33px; height: 7.89px; left: 5.13px; top: 234.18px; position: absolute; color: white; font-size: 7px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word">댓글</div>
            <img class="Ellipse2" style="width: 10.25px; height: 10.25px; left: 11.43px; top: 247.59px; position: absolute; border-radius: 9999px" src="https://via.placeholder.com/10x10" />
            <div class="Rectangle43" style="width: 157px; height: 45px; left: 26px; top: 245px; position: absolute; background: white; border-radius: 5px"></div>
          </div>
          <div style="left: 31px; top: 249px; position: absolute; color: black; font-size: 9px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word">저희 강아지도..맨날 먹는데 와서 입맛 <br/>다셔요..어차피 못 주는데 ㅋ큐ㅠㅠㅠ</div>
        </div>
        <div class="Group15" style="width: 192px; height: 306.73px; left: 302px; top: 187px; position: absolute">
          <div class="Group13" style="width: 192px; height: 306.73px; left: 0px; top: 0px; position: absolute">
            <div class="Rectangle31" style="width: 191.61px; height: 261.78px; left: 0.39px; top: 0px; position: absolute; background: #FFECB3"></div>
            <img class="Rectangle39" style="width: 191.61px; height: 138.78px; left: 0px; top: 29.17px; position: absolute" src="https://via.placeholder.com/192x139" />
            <div class="Rectangle40" style="width: 191.61px; height: 19.71px; left: 0.39px; top: 167.95px; position: absolute; background: white"></div>
            <img class="Ellipse1" style="width: 20.50px; height: 20.50px; left: 5.91px; top: 3.94px; position: absolute; border-radius: 9999px" src="https://via.placeholder.com/21x21" />
            <div class="Sesaanna" style="width: 121.43px; height: 14.98px; left: 31.93px; top: 6.31px; position: absolute; color: #E65200; font-size: 11px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word">sesaanna._.</div>
            <div class="Rectangle41" style="width: 191.61px; height: 44.94px; left: 0.39px; top: 187.66px; position: absolute; background: #FF6B00"></div>
            <div style="width: 176px; height: 32px; left: 7px; top: 192px; position: absolute; color: white; font-size: 9px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word">다리가 저렇게 긴 녀석일 줄이야....나보다 길어...</div>
            <div class="Rectangle42" style="width: 191.61px; height: 74.12px; left: 0.39px; top: 232.61px; position: absolute; background: #FFC008"></div>
            <div style="width: 32.33px; height: 7.89px; left: 5.13px; top: 234.18px; position: absolute; color: white; font-size: 7px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word">댓글</div>
            <img class="Ellipse2" style="width: 13px; height: 13px; left: 11px; top: 248px; position: absolute; border-radius: 9999px" src="https://via.placeholder.com/13x13" />
            <div class="Rectangle43" style="width: 157px; height: 22px; left: 26px; top: 244px; position: absolute; background: white; border-radius: 5px"></div>
          </div>
          <div style="left: 31px; top: 249px; position: absolute; color: black; font-size: 9px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word">나보다 긴 것 같아....대다내..</div>
        </div>
        <div class="Text" style="left: 1012px; top: 309px; position: absolute; color: black; font-size: 5px; font-family: IBM Plex Sans KR; font-weight: 400; word-wrap: break-word"> </div>
        <img class="Image7" style="width: 16px; height: 21px; left: 174px; top: 365px; position: absolute" src="https://via.placeholder.com/16x21" />
        <div class="Rectangle44" style="width: 274px; height: 192px; left: 958px; top: 584px; position: absolute; background: #D9D9D9"></div>
        <div class="Text" style="left: 745px; top: 765px; position: absolute; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word"> </div>
        <div class="Rectangle37" style="width: 284px; height: 59px; left: 648px; top: 718px; position: absolute; background: #FFC008"></div>
        <div style="width: 269px; height: 26px; left: 667px; top: 735px; position: absolute; color: white; font-size: 21px; font-family: Inter; font-weight: 400; word-wrap: break-word">집안에서 제일 활발한 강아지</div>
      </div>
</body>
</html>